body {
  font-family: 'Oswald', 'Helvetica', sans-serif;
  font-size: 16px;
  margin: 0;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: grey;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

h1 {
  font-size: 4em;
  font-weight: 400;
  margin: 0;
  line-height: 1.0em;
  text-transform: uppercase;
  color: grey;
  align-self: center;
}

h2 {
  font-size: 1.7em;
  font-weight: 300;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: grey;
  align-self: center;
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
  align-self: center;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: grey;
  align-self: center;
}

h5 {
  font-size: 0.8em;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.white-heading {
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 75%;
}

/* Navigation bar */

nav {
  display: flex;
  flex-flow: row wrap;
  overflow: visible;
  padding: 10px 15px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(36,36,36,1)));
  background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#242424', GradientType=1 );

}

.logo {
  display: flex;
  align-self: flex-start;
}

.navigation-list {
  display: flex;
  align-items: center;
  color: white;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.3em;
}

.navigation-list > li {
  display: flex;
  flex-flow: row;
  margin-right: 25px;
  margin-top: 30px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

nav a:hover {
 color: gainsboro;
 text-decoration: overline;
}




@media all and (max-width: 600px) {
  nav  {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

  .navigation-list {
    font-size: 1.2em;
}

  .logo {
    align-self: center;
  }
}



header {
  display:flex;
  align-items: center;
  flex-direction: column;
  background: url(../images/rotation4.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  z-index: -1;
}

#banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 75px;
  width: auto;
  padding: 20px 20px 0 20px;
  z-index: 2;
  color: white;
  border: 8px solid #fff;
}

button {
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  cursor: pointer;
  color: white;
  border: white 7px solid;
  height: 60px;
  width:300px;
  background-color: transparent;
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
}

button:hover {
  background-color: rgba(255, 0, 0, 0.5);

}

.designer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #ebebeb;
  background-size: auto;
}

.img-circle {
  width: 200px;
  border-radius: 50%;
  margin:0 auto;
  margin-bottom: 10px;
  clear: both;

}

.myphoto {
  height: 100px;
  align-self: flex-end;
  clear: both;
}

.designer p {
  align-self: flex-start;
  max-width: 70%;
  clear: both;
}

@media all and (max-width: 600px) {
    .img-circle {
      align-self: center;
    }
    .myphoto {
      align-self: center;
    }

    .designer p {
      max-width: 90%;
      align-self: center;
      text-align: center;
    }
}

.solutions {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 25px;
  background: #EBEBEB;
}

.solutions-list {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
}

.solutions-list li {
  margin: 25px 50px 15px 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.solutions-list h3 {
  color: #666;
  text-align: center;
}
.solutions-list a {
  text-decoration:none;
}

.digital {
  background: url("../images/ComepleteDesignSolution_digital.png")
}
.photography {
  background: url("../images/ComepleteDesignSolution_photography.png")
}
.copywriting {
  background: url("../images/ComepleteDesignSolution_copywritting.png")
}
.illustration {
  background: url("../images/ComepleteDesignSolution_illustration.png")
}
.print {
  background: url("../images/ComepleteDesignSolution_print.png")
}
.solutions-list li:hover {
  background-position: -101px 0px;
}

.some-work {
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 30px;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
}

.portfolio li {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 10px;
}
.portfolio1 {
  background: url("../images/image-0086.JPG") center center;
  height: 220px;
  width: 220px;
}
.portfolio2 {
  background: url("../images/image-0086.JPG") center center;
  height: 220px;
  width: 220px;
}
.portfolio3 {
  background: url("../images/image-0086.JPG") center center;
  height: 220px;
  width: 220px;
}
.portfolio3 {
  background: url("../images/image-0086.JPG") center center;
  height: 220px;
  width: 220px;
}
.portfolio4 {
  background: url("../images/image-0086.JPG") center center;
  height: 220px;
  width: 220px;
}

.portfolio5 {
  background: url("../images/image-0086.JPG") center center;
  height: 220px;
  width: 220px;
}

.portfolio6 {
  background: url("../images/image-0086.JPG") center center;
  height: 220px;
  width: 220px;
}




.email {
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 30px;
}

footer {
  display: flex;
  max-width: 100%;
  height: 100px;
  padding: 25px;
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(36,36,36,1)));
  background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#242424', GradientType=1 );
}

.copyright {
  font-size: 0.6em;
  display: flex;
  flex-flow: row;
  margin-left: 80%;
}

.copyright i {
  margin-right: 10px;
}

.social-bugs {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  display: flex;
  list-style-type: none;
  font-size: 0.8em;
  color: white;
  line-height: 25px;
  flex-direction: row;
  align-self: center;
}

.social-list li a{
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}
.social-list li i{
  margin-right: 10px;
}
.social-list li a:hover {
  color: gainsboro;
  text-decoration: overline;
}
